<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/theme.css}">
</head>

<body>
    <div th:replace="~{partials/adminDashSideBar}"></div>
    <div class="main-content" id="panel">
        <div th:replace="~{partials/adminNavBar}"></div>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg">
                    <div class="user-form">
                        <h1>Assign Class to Coach</h1>
                        <form class="add-user" th:action="@{/admindashboard/assignclass}" th:object="${assignClassObj}"
                            method="POST">
                            <label for="class">Class</label>
                            <select class="add-user-input" name="ClassID">
                                <div th:each="class: ${classes}" class="classBox">
                                    <option th:value="${class.ID}" th:text="${class.Name}"></option>
                                </div>
                            </select>
                            <hr>

                            <label for="coach">Coach</label>
                            <select class="add-user-input" name="CoachID">
                                <div th:each="coach: ${coaches}" class="coachBox">
                                    <option th:value="${coach.ID}" th:text="${coach.Name}"></option>
                                </div>
                            </select>
                            <hr>

                            <label for="start-time">Start Time</label>
                            <input class="add-user-input" type="time" name="startTime" id="">
                            <br>

                            <label for="end-time">End Time</label>
                            <input class="add-user-input" type="time" name="endTime" id="">
                            <br>
                            <hr>
                     

                            <br>

                            <label for="free">Free</label>
                            <select class="add-user-input" id="free-select" onchange="togglePriceField()" name="isFree">
                                <option value="yes" th:selected="${assignClassObj.isFree eq 'yes'}">Yes</option>
                                <option value="no" th:selected="${assignClassObj.isFree eq 'no'}">No</option>
                            </select>
                            <br>

                            <div id="price-field" style="display:none;">
                                <label for="price">Price</label>
                                <input class="add-user-input" type="number" name="price" placeholder="Price"
                                    th:field="*{Price}">
                            </div>
                            <br>

                            <label for="num-of-attendants">Number Of Attendants</label>
                            <input class="add-user-input" type="number" name="no-of-attendants" id="" th:field="*{NumOfAttendants}">

                            <br>
                            <label for="class-day">Days</label>
                            <select class="add-user-input" name="ClassDay">
                                <div th:each="day: ${availableClassDays}" class="dayBox">
                                    <option th:value="${day}" th:text="${day}"></option>
                                </div>
                            </select>


                            <hr>
                            <br>

                            <button class="btn btn-add-form" type="submit">Assign Class</button>
                        </form>
                        <script>
                            function togglePriceField() {
                                var freeSelect = document.getElementById("free-select");
                                var priceField = document.getElementById("price-field");

                                if (freeSelect.value === "yes") {
                                    priceField.style.display = "none";
                                } else {
                                    priceField.style.display = "block";
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/jquery.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/bootstrap.bundle.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/chart.extension.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/7bb803d2af2ab6d71d429b0cb459c24a4cd0fbb4/argon-dashboard/js/argon.min.js"></script>

</body>

</html>