<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--css/icons/boostrap/jquery/fonts/images start-->
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/usersidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/classes.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/classbooking.css}">
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0}" />
    <script src="https://kit.fontawesome.com/3472d45ca0.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.come/a076d05399.js"></script>
    <!--css/icons/boostrap/jquery/fonts/images end-->
    <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel='stylesheet'>

</head>

<body>
    <!-- usersidebar -->
    <div th:replace="~{partials/usersidebar}"></div>

    <div class="container py-5">
        <h2 style=" font-size: 26px;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(176, 37, 37);
    letter-spacing: -1px;
    margin-bottom:3%;">Types:</h2>
        <div class="card-container">
            <div th:each="assignedClass : ${assignedClasses}">
                <div class="card">
                    <!-- Get corresponding Classes object for the assignedClass -->
                    <div th:with="classObj=${classes.?[ID == assignedClass.ClassID][0]}">
                        <img th:src="@{${classObj != null} ? 'Images/' + ${classObj.imgPath} : '/Images/default.jpg'}"
                            style="width: 310px; height: 240px;">
                        <h3 th:if="${classObj != null}" th:text="${classObj.Name}"></h3>

                        <section class="class-details">
                            <div class="class-item">
                                <div class="class-info">
                                    <p class="class-time"
                                        th:text="'Time: ' + ${assignedClass.StartTime} + ' - ' + ${assignedClass.EndTime}">
                                    </p>
                                    <p class="class-date" th:text="'Date: ' + ${assignedClass.Date}"></p>
                                    <p class="class-participants"
                                        th:text="'Limit of Participants: ' + ${assignedClass.NumOfAttendants}"></p>
                                    <p class="class-price" th:text="'Price: ' + ${assignedClass.Price}"></p>
                                    <button class="reserve-class">Reserve Now</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{partials/footer}"></div>

</body>

</html>