<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css">
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/theme.css}">
</head>

<body>
    <div th:replace="~{partials/adminDashSideBar}"></div>
    <div class="main-content" id="panel">
        <div th:replace="~{partials/adminNavBar}"></div>

        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h1 class="mb-0">Clients</h1>
                                </div>
                                <div class="col text-right">
                                    <input id="searchBar" onkeyup="myFunction()" class="table-search-bar" placeholder="Search for Client">
                                </div>
                                <div class="col text-right">
                                    <a th:href="@{/admindashboard/addclient}" class="btn-add">Add Client</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="adminDashTable" class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Memberships</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="client, idx : ${clients}">
                                        <th scope="row" th:text="${client.ID}"></th>
                                        <td th:text="${client.FirstName + ' ' + client.LastName}"></td>
                                        <td th:text="${client.Email}"></td>
                                        <td th:text="${client.Age}"></td>
                                        <td th:text="${client.Gender}"></td>
                                        <td th:text="${client.PhoneNumber}"></td>
                                        <td th:if="${hasActiveMembership[idx.index]}">
                                            <button class="btn btn-sm btn-activate" type="button" disabled>Activated</button>
                                        </td>
                                        <td th:unless="${hasActiveMembership[idx.index]}">
                                            <a th:href="@{/admindashboard/requestmembership(id=${client.ID})}" class="btn btn-sm btn-activate">Activate</a>
                                        </td>                                        
                                        <td>
                                            <a th:href="@{/admindashboard/editclient(id=${client.ID})}" class="btn btn-sm btn-primary">Edit</a>
                                            <form th:action="@{/admindashboard/deleteclient}" th:object="${client}" method="post" style="display: inline;">
                                                <input type="hidden" name="id" th:value="${client.ID}" />
                                                <button type="submit" class="btn btn-sm btn-delete">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/tableSearch.js}"></script>

    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/jquery.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/bootstrap.bundle.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/chart.extension.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/7bb803d2af2ab6d71d429b0cb459c24a4cd0fbb4/argon-dashboard/js/argon.min.js"></script>

</body>

</html>