<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/theme.css}">
</head>

<body>
    <div th:replace="~{partials/adminDashSideBar}"></div>
    <div class="main-content" id="panel">
        <div th:replace="~{partials/adminNavBar}"></div>

        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h1 class="mb-0">Membership Requests</h1>
                                </div>
                                <div class="col text-right">
                                    <input id="searchBar" onkeyup="myFunction()" class="table-search-bar"
                                        placeholder="Search for a Membership Request">
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="adminDashTable" class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Client ID</th>
                                        <th scope="col">Client Name</th>
                                        <th scope="col">Package Title</th>
                                        <th scope="col">Months</th>
                                        <th scope="col">Price </th>
                                        <th scope="col">StartDate</th>
                                        <th scope="col">EndDate</th>
                                        <th scope="col">Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="membership : ${memberships}">
                                        <td th:text="${membership.clientID}"></td>
                                        <td th:each="client : ${clients}" th:if="${client.ID == membership.ClientID}"
                                            th:text="${client.FirstName + ' ' + client.LastName}"></td>
                                        <td th:each="package : ${packages}" th:if="${package.id == membership.PackageID}">
                                            <td th:text="${package.Title}"></td>
                                            <td th:text="${package.NumOfMonths}"></td>
                                            <td th:text="${package.Price}"></td>
                                        </td> 
                                        <td th:text="${membership.StartDate}"></td>
                                        <td th:text="${membership.EndDate}"></td>
                                        <td>
                                            <a href="#!" class="btn btn-sm btn-primary">Accept</a>
                                            <a href="#!" class="btn btn-sm btn-delete">Decline</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h1 class="mb-0">Class Requests</h1>
                                </div>
                                <div class="col text-right">
                                    <input id="searchBar2" onkeyup="myFunction()" class="table-search-bar"
                                        placeholder="Search for a Class Request">
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="adminDashTable2" class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Client ID</th>
                                        <th scope="col">Client Name</th>
                                        <th scope="col">Coach Name</th>
                                        <th scope="col">Class Name</th>
                                        <th scope="col"> Day </th>
                                        <th scope="col">From</th>
                                        <th scope="col">To </th>
                                        <th scope="col">Fees </th>
                                        <th scope="col">Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="reservedClass: ${reservedClassesList}">
                                        <th scope="row" th:text="${reservedClass.clientID}"></th>
                                        <div th:each="client : ${clientsList}">
                                            <div th:if="${client.ID == reservedClass.ClientID}">
                                                <td th:text="${client.FirstName + ' ' + client.LastName}"></td>
                                            </div>
                                        </div>
                                        <div th:each="coach : ${coachesList}"
                                            th:if="${coach.ID == reservedClass.CoachID}">
                                            <td th:text="${coach.Name}"></td>
                                        </div>
                                        <div th:each="assignedClass : ${assignedClassesList}"
                                            th:if="${assignedClass.ID == reservedClass.AssignedClassID}">
                                            <div th:each="class : ${classesList}"
                                                th:if="${class.ID == assignedClass.ClassID}">
                                                <td th:text="${class.Name}"></td>
                                            </div>
                                            <td th:text="${assignedClass.Date}"></td>
                                            <td th:text="${assignedClass.StartTime}"></td>
                                            <td th:text="${assignedClass.EndTime}"></td>
                                            <td th:text="${assignedClass.Price}"></td>
                                        </div>
                                        <td>
                                            <a href="#!" class="btn btn-sm btn-primary">Accept</a>
                                            <a href="#!" class="btn btn-sm btn-delete">Decline</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/jquery.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/bootstrap.bundle.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/chart.extension.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/7bb803d2af2ab6d71d429b0cb459c24a4cd0fbb4/argon-dashboard/js/argon.min.js"></script>
</body>

</html>