<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/theme.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/modal.css}" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <div th:replace="~{partials/adminDashSideBar}"></div>
    <div class="main-content" id="panel">
        <div th:replace="~{partials/adminNavBar}"></div>

        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h1 class="mb-0">Memberships</h1>
                                </div>
                                <div class="col text-right">
                                    <input class="table-search-bar" placeholder="Search for a Membership" />
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Membership</th>
                                        <th scope="col">Visits</th>
                                        <th scope="col">Inbody</th>
                                        <th scope="col">Freeze</th>
                                        <th scope="col">Freeze Count</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="membership, idx  : ${memberships}">
                                        <div th:unless="${#lists.isEmpty(clients)}">
                                            <div th:unless="${#lists.isEmpty(packages)}">
                                                <div th:each="client : ${clients}">
                                                    <div th:if="${client.ID == membership.clientID}">
                                                        <td scope="row" th:if="${client != null}"
                                                            th:text="${membership.ID}"></td>
                                                        <td th:text="${client.FirstName} + ' ' + ${client.LastName}">
                                                        </td>
                                                    </div>
                                                </div>
                                                <div th:each="package : ${packages}">
                                                    <div th:if="${package.id == membership.PackageID}">
                                                        <td th:text="${package.Title}"></td>
                                                    </div>
                                                </div>
                                                <td th:text="${membership.VisitsCount}"></td>
                                                <td th:text="${membership.InbodySessionsCount}"></td>
                                                <td>
                                                    <div th:if="${membership.isActivated} == 'Activated'">
                                                        <div th:if="${membership.Freezed} == 'Not Freezed'">
                                                            <form th:action="@{/admindashboard/requestfreeze(id=${membership.ID})}"
                                                                method="post">
                                                                <button type="button"
                                                                    th:data-membershipID="${membership.ID}"
                                                                    onclick="showModal(this.getAttribute('data-membershipID'));"
                                                                    id="freeze-button" class="btn btn-sm btn-freeze">
                                                                    Freeze
                                                                </button>
                                                                <div th:id="'modal-' + ${membership.ID}" class="modal">
                                                                    <div class="modal-content">
                                                                        <div class="modal-sandbox"></div>
                                                                        <div class="modal-box">
                                                                            <div class="close-modal"
                                                                                th:data-membershipID="${membership.ID}"
                                                                                onclick="closeModal(this.getAttribute('data-membershipID'));">
                                                                                &#10006;
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="datePicking"
                                                                                    id="datePickerContainer">
                                                                                    <label for="datepicker">Choose a
                                                                                        Date:</label>
                                                                                    <input type="date"
                                                                                        th:id="'datepicker-' + ${membership.ID}"
                                                                                        th:data-dataPickerID="${membership.ID}"
                                                                                        onchange="handleDateChange(this.getAttribute('data-dataPickerID'));"
                                                                                        name="freezeEndDate"
                                                                                        th:min="${minFreezeDate}"
                                                                                        th:max="${maxFreezeDates[idx.index]}" />
                                                                                </div>
                                                                                <p class="confirmation-text"
                                                                                    id="confirmation-text"></p>
                                                                                <br />
                                                                                <button type="submit"
                                                                                    id=" freeze-button"
                                                                                    class="btn btn-sm btn-freeze">
                                                                                    Freeze
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div th:if="${membership.Freezed} == 'Freezed'">
                                                          <form th:action="@{/admindashboard/requestunfreeze(id=${membership.ID})}"
                                                                method="post">
                                                                <button type="button"
                                                                    th:data-membershipID="${membership.ID}"
                                                                    onclick="showModal(this.getAttribute('data-membershipID'));"
                                                                    id="freeze-button" class="btn btn-sm btn-unfreeze">
                                                                    Unfreeze
                                                                </button>
                                                                <div th:id="'modal-' + ${membership.ID}" class="modal">
                                                                  <div class="modal-content">
                                                                      <div class="modal-sandbox"></div>
                                                                      <div class="modal-box">
                                                                          <div class="close-modal"
                                                                              th:data-membershipID="${membership.ID}"
                                                                              onclick="closeModal(this.getAttribute('data-membershipID'));">
                                                                              &#10006;
                                                                          </div>
                                                                          <div class="modal-body">
                                                                              <p class="confirmation-text"
                                                                                  id="confirmation-text">Are you sure you want to unfreeze this membership?</p>
                                                                              <br />
                                                                              <button type="submit"
                                                                                  id=" freeze-button"
                                                                                  class="btn btn-sm btn-unfreeze">
                                                                                  Unfreeze
                                                                              </button>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td th:text="${membership.FreezeCount}"></td>
                                                <td th:text="${membership.isActivated}"></td>

                                                <td>
                                                    <form th:action="@{/admindashboard/deletemembership}" method="post">
                                                        <input type="hidden" name="membershipId"
                                                            th:value="${membership.ID}" />
                                                        <button type="submit" class="btn btn-sm btn-delete">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </td>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/reqfreeze.js}"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/jquery.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/bootstrap.bundle.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/chart.extension.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/7bb803d2af2ab6d71d429b0cb459c24a4cd0fbb4/argon-dashboard/js/argon.min.js"></script>
</body>

</html>