<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--css/icons/boostrap/jquery/fonts/images start-->
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/footer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/usersidebar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/userprofile.css}" />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0}"
    />
    <script
      src="https://kit.fontawesome.com/3472d45ca0.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.come/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!--css/icons/boostrap/jquery/fonts/images end-->
    <link
      th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- usersidebar -->
    <div th:replace="~{partials/usersidebar}"></div>

    <div class="profile">
      <div class="greeting">
        <p class="hello-fz"><i class="fas fa-lock"></i> Request to Freeze</p>
      </div>
      <div class="reminders" th:if="${membership == null}">
        <div class="class-title">You are not subscribed to any packages</div>
      </div>

      <div class="reminders" th:if="${membership != null}">
        <div class="reminder">
          <p class="class">Package:</p>
          <div class="class-title" th:text="${package.Title}"></div>

          <div th:if="${package.Title != null}" class="dates">
            <div class="date">
              <p>Start Date:</p>
              <div class="start-date" th:text="${membership.StartDate}"></div>
            </div>
            <div class="date">
              <p>End Date:</p>
              <div class="end-date" th:text="${membership.EndDate}"></div>
            </div>
          </div>

          <div class="rem-info">
            <p>Remaining Freeze Duration:</p>
            <p class="actual-rem" th:text="${membership.FreezeCount}"></p>
          </div>

          <div class="freeze-request">
            <div class="membershipStatus">
              <p>Membership Status:</p>
              <p
                id="membershipStatus"
                class="actual-rem"
                th:text="${membership.isActivated}"
              ></p>
            </div>

            <div th:if="${membership.isActivated} == 'Activated'">
                <div th:if="${membership.Freezed} == 'Not Freezed'">              
                  <form th:action="@{/user/requestfreeze}" method="post">
                  <div class="datePicking" id="datePickerContainer">
                    <label for="datepicker">Choose a Date:</label>
                    <input
                      type="date"
                      id="datepicker"
                      name="freezeEndDate"
                      th:min="${minFreezeDate}"
                      th:max="${maxFreezeDate}"
                    />
                  </div>
                  <button type="button" onclick="showModal()" id="freeze-button">Freeze</button>
                </div>
                <div th:if="${membership.Freezed} == 'Freezed'">
                    <form th:action="@{/user/requestunfreeze}" method="post">
                    <button type="button" onclick="showUnfreezeModal()" id="freeze-button">Unfreeze</button>
                </div>
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span onclick="closeModal()" class="close-popup">&times;</span>
                    <p id="confirmation-text"></p>
                    <button id="confirm-button" type="submit">Yes</button>
                    <button onclick="closeModal()" type="button" id="cancel-button">Cancel</button>
                    <p id="modal-message"></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var freezebtn = document.getElementById("freeze-button");
      var datePicker = document.getElementById("datepicker");
      function showUnfreezeModal(){
        var modalLabel = document.getElementById("confirmation-text");
        modalLabel.textContent =
      "Are you sure you want to unfreeze your membership?";
      $("#myModal").fadeIn();
      }

function showModal() {
  var selectedDate = document.getElementById("datepicker").value;
  var modalLabel = document.getElementById("confirmation-text");

  if (selectedDate) {
    modalLabel.textContent =
      "Are you sure you want to freeze your membership to " +
      selectedDate +
      "?";
      $("#myModal").fadeIn();

  } else {
    return;
  }

}
function closeModal()
{
    $("#myModal").fadeOut();

}
    </script>
    <!-- footer -->
    <div th:replace="~{partials/footer}"></div>
  </body>
</html>
