<header class="header">
    <a th:href="@{/}" id="gym-title">ProFit Gym</a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <span class="material-symbols-outlined" id="menu-icon">
            menu
        </span>
        <span class="material-symbols-outlined" id="close-icon">
            close
        </span>
    </label>
    <nav class="navbar">
        <a th:href="@{/index}" id="home">HOME</a>
        <a th:href="@{/classes}" id="classes"> CLASSES</a>
        <a th:href="@{/memberships}" id="memberships">MEMBERSHIPS</a>
        <a th:href="@{/facilities}" id="facilities">FACILITIES</a>
        <a th:href="@{/contactus}" id="contactus">CONTACT US</a>
        <a th:href="${session.loggedInUser != null ? '/user/profile' : '/login'}"><i class="ri-account-circle-line"></i></a>
    </nav>
</header>
<!-- Include your JavaScript files here -->
<script src="/js/index.js"></script>
</body>
</html>