<header class="header">
    <a id="gym-title">ProFit Gym</a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <span class="material-symbols-outlined" id="menu-icon" >
            menu
            </span>
            <span class="material-symbols-outlined" id="close-icon">
                close
                </span>
    </label>
    <nav class="navbar">
        <a href="/" id="home">HOME</a>
        <a href="#" id="classes"> CLASSES</a>
        <a href="#" id="memberships">MEMBERSHIPS</a>
        <a href="#" id="facilities">FACILITIES</a>
        <a href="#" id="contactus">CONTACT US</a>
        <a href="#"><i class="ri-account-circle-line"></i></a>
    </nav>
</header>
</body>
<script src="/js/index.js">
</script>